{% load static %}
<html>
    <head>
        <title>
            whatsYouQuestion
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    </head>

    <body>

        {% include "header.html" %}
        {% block content %}
        {% endblock %}
    </body>
</html>