<div>
  <input type="text" name="search questions" id="search_question"/>
    <ul id="list">
        {% for q in qlist %}
          <li>
            <a
              href="{% url 'answer' question_id=q.id %}"
            >
            {{q}}
          </a>
          </li>
        {% endfor %}
      </ul>
</div>

<script>
  const inputNode = document.querySelector('#search_question')
  inputNode.addEventListener('change', async (e)=>{
    const res = await fetch(`/search/${e.target.value}`)
    const data = await res.json()
    const ul = document.querySelector('#list');
    let newEle = '';
    ul.innerHTML=''
    data.searched.forEach(it=> {
      const li = document.createElement('li');
      const an = document.createElement('a');
      an.setAttribute('href', `/answer/${it.id}`)
      an.textContent = `${it.question}`;
      li.appendChild(an);
      ul.appendChild(li);
    })
    console.log(data)
  })
</script>