{% extends "base.html" %}

{% block content %}

<div id="app">
	<template>
			<input type="text" name="search questions" id="search_question" @change="handleSearch($event.target.value)" />
			<div v-if="!searchedList">
				<ul id="list">
					{% for q in qlist %}
					<li>
						<a href="{% url 'answer' question_id=q.id %}">
							{{q}}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div v-for="item in searchedList">
				<ul id="list">
					<li>
						<a href=`/answer/${question.id}`>
							[[ item.question ]]
						</a>
					</li>
				</ul>
				
			</div>
			[[abba]]
	</template>
</div>
<script>
	new Vue({
		delimiters: ["[[","]]"],
		el: '#app',
		data: {
			searchedList: null,
			abba: 'yess',
		},
		methods: {
			handleSearch: async function(value) {
				const res = await fetch(`/search/${value}`)
				const data = await res.json()
				this.searchedList = data.searched
			}
		}
	})
</script>
{% endblock %}