{% extends "base.html" %}
{% block content %}
<div>

    <div class="hcenter">
        <div class="card">
            <p>
                Be curious ask Questions
            </p>
            <form action="/" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="ask_button">Ask</button>
            </form>
        </div>
    </div>
    <div class="hcenter">
        <ul class="remove_bullet">
            {% for q in qlist %}
            <div class="card_list">
                {{q.username}}
                <li>
                    <a href="{% url 'answer' question_id=q.id %}" class="anchor_decoration">
                        {{q.question}}
                    </a>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}