<div id="app">
	<template>
        <div class="search_container">
            <input 
            type="text" name="search"
            class="input_question"
            placeholder="search-question" id="search_question" @input="handleSearch($event.target.value)" />
            <div class="list_searched">
                <ul>
            <li v-for="item in searchedList">
                        <a href=`/answer/${question.id}`>
                            [[ item.question ]]
                        </a>
            </li>
            </div>
        </ul>
        </div>
	</template>
</div>
<style>
    .search_container {
        position: relative;
    }
    .list_searched {
        position: absolute;
        z-index: 6;
        top: 3rem;
        display: none;
        background: white;
        width: 500px;
    }
    .search_container:hover .list_searched {
        display: block;
    }
</style>
<script>
	new Vue({
		delimiters: ["[[","]]"],
		el: '#app',
		data: {
			searchedList: null,
		},
		methods: {
			handleSearch: async function(value) {
                console.log('value', value);
				const res = await fetch(`/search/${value}`)
				const data = await res.json()
				this.searchedList = data.searched
			}
		}
	})
</script>