:root {
  --font-color: white;
  --primary-color: blueviolet;
  --card-background: #F6F6F6;
}

html {
  box-sizing: border-box;
  /* color: var(--font-color); */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
 /* font-family: 'Noto Sans KR', sans-serif; */
 font-family: 'Source Sans Pro', sans-serif;
 font-size: clamp(1rem, 1vw, 2rem); 
 margin: 0;

}
.flex_column{
display: flex;
flex-direction: column;
}
.headContainer {
  width: 5rem;
  padding: 1rem;
  background-color: blueviolet;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.profile-dropdown {
position: relative;
display: flex;
flex-direction: row-reverse;
}
.profile-button {
border-radius: 50%;
border: 0.1rem solid white;
background: var(--card-background);
outline: none;
}

.dropdown-list {
  position: absolute;
  z-index: 5;
  display: none;
  top: 2rem;
  width: 200px;
  background: white;
}
.dropdown-list > a { color: black}
.profile-dropdown:hover .dropdown-list {
display: flex;
flex-direction: column;
}
.hcenter {
display: flex;
justify-content: center;
}

.card {
width: 80%;
background-color: #F6F6F6;
padding: 2rem;
}
@media(max-width: 640px){
.card {
  width: 100%;
}
}

.input_question {
width: 80%;
padding: 0.7rem;
border: none;
outline: none;
}

.ask_button {
padding: 0.7rem;
background-color: var(--primary-color);
color: var(--font-color);
border: none;
border-radius: 0.2rem;
}

.remove_bullet{
list-style-type: none;
}
.anchor_decoration {
text-decoration: none;
color: gray;
}

.min_width {
min-width: 300px;
}

.card_list {
background-color: #F6F6F6;
padding: 1.5rem;
width: 400px; 
margin: 0.5rem;
}

.input_answer {
width: 80%;
padding: 0.7rem;
border: 1px solid gray;
outline: gray;
}

.answer_button {
padding: 0.7rem;
background-color: var(--primary-color);
color: var(--font-color);
border: none;
border-radius: 0.2rem;
}

.form_box {
display: grid;
grid-template-rows: 1fr;
grid-gap: 0.5rem;
width: 20rem;
}

.form_input {
padding: 0.7rem;
border: none;
outline: gray;
}